
body {
    margin: 0;
    background-color: #2b580c;
    color: #d9bf77;
}

h1 {
    font-family: Times;
    letter-spacing: 4px;
    text-shadow: 3px 3px 6px black;
}

#main {
    margin: 0;
    height: 100vh;
    padding: 5% 0;
    text-align: center;
    font-family: sans-serif;
}



#hikes-wrapper {
    width: 90%;
    margin: 0 auto;
}

.hike {
    color: #d9bf77;
    padding: 2%;
    text-align: left;
    width: 80%;
    margin: 0 auto 10% auto;
    background-color: #639a67;
    box-shadow: 4px 4px 10px black;
}

.details ul li {
    list-style-type: none;
}

.form-container {
    text-align: left;
    width: 84%;
    margin: 0 auto 5% auto;
}

#show-form {
    background-color: #2b580c;
    color: #d9bf77;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
    border: 1px solid #d8ebb5;
}

.show-form-button {
    margin: 10px 0;
    background-color: #2b580c;
    color: #d9bf77;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
    border: 1px solid #d8ebb5;
}

.hike img {
    box-shadow: 0 0 20px black;
    width: 100%;
}

.form-col-2 > input, textarea{
    box-shadow: 2px 2px 7px black;
    border: 1px solid black;
    border-radius: 4px;
}

@media only screen and (min-width: 1199.98px) {

    h1 {
        font-size: 62px;
    }
    
    .hike h3 {
        margin-bottom: 2%;
        font-size: 150%;
        letter-spacing: 1px;
    }
    
    .hike h4 {
        margin-top: 2%;
    }
    
    .details {
        width: 40%;
    }
    
    .form-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .hike-footer-container {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    
    .form-col-2 {
        width: 49%;
        margin: 1% auto;
    }
    
    input[type='submit'] {
        margin-top: 2%;
        background-color: #2b580c;
        color: #d9bf77;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 3px 3px 5px black;
        border: 1px solid #d8ebb5;
    }
}

@media only screen and (min-width: 991.98px) {

}

@media only screen and (min-width: 575.98px) {

}
