

body {
    margin: 0;
    background-color: #2b580c;
}
#main {
    margin: 0;
    height: 100vh;
    padding: 5% 0;
    text-align: center;
    font-family: sans-serif;
    /* background-color: black; */
}

#wrapper {
    background-color: #d8ebb5;
    width: 90%;
    margin: 0 auto 5% auto;
    padding: 2%;
    box-shadow: 4px 4px 10px black;
}

#hikes-wrapper {
    width: 90%;
    margin: 0 auto;
}

.hike {
    color: #d9bf77;
    padding: 2%;
    text-align: left;
    width: 80%;
    margin: 0 auto 10% auto;
    background-color: #639a67;
    box-shadow: 4px 4px 10px black;
}

.hike h3 {
    margin-bottom: 3%;
}

.hike h4 {
    margin-top: 2%;
}

.hike img {
    box-shadow: 0 0 20px black;
}

.details {
    width: 40%;
}

.details ul li {
    list-style-type: none;
}

.form-container {
    text-align: left;
    width: 84%;
    margin: 0 auto 5% auto;
}

#show-form {
    margin-bottom: 10px;
    background-color: #2b580c;
    color: #d9bf77;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
    border: 1px solid #d8ebb5;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.form-col-2 {
    width: 50%;
    margin-bottom: 1%;
}

.form-col-2 > input {
    box-shadow: 2px 2px 7px black;
    border: 1px solid black;
    border-radius: 4px;
}

input[type='submit'] {
    margin-top: 2%;
    background-color: #2b580c;
    color: #d9bf77;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
    border: 1px solid #d8ebb5;
}
